div.general {
    grid-template-columns: 0 1fr;
    column-gap: 0;
}

p {
    margin: auto;
}

@media screen and (max-width: 1500px) {
    .switch {
        margin-right: 9.688rem; /*155px*/
    }
}

@media screen and (max-width: 980px) {
    .switch {
        margin-right: 0;
    }
}