#notes {
    padding: 1rem; /*16px*/
    border: 0.125rem solid var(--primaryColor); /*2px*/
    background-color: var(--beigeNeutral-light);
    border-radius: 1.25rem; /*20px*/
    width: 100%;
    height: fit-content;
    margin: 0;
    font: var(--bodyText);
}

#notes:focus {
    outline: none !important;
    border: 0.125rem solid var(--accentColor); /*2px*/
}

input {
    margin: 0.313rem 0; /*10px*/
    width: 15.625rem; /*250px*/
}

label {
    font: var(--bodyText);
}

#gender, #teachers, #handSelection {
    width: 15.625rem; /*250px*/
    height: 2.5rem; /* 40px */
    padding: 0.375rem 0.938rem; /* 6px 15px */
    border: 0.125rem solid var(--blueNeutral-lightest); /* 2px */
    border-radius: 1.25rem; /* 20px */
    font: var(--bodyText);
    color: var(--blueNeutral-dark);
    caret-color: var(--blueNeutral-dark);
    margin: 0.313rem 0; /*5px*/

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: var(--beigeNeutral-light) url("/public/assets/icons/angle-small-down.svg") no-repeat 13.338rem center;
}

#gender:focus, #teachers:focus, #handSelection:focus {
    outline: none !important;
    border: 0.125rem solid var(--accentColor); /* 2px */
}

div.general {
    grid-template-rows: 3.125rem 9.375rem auto; /*50px 150px 220px*/
}

.switch {
    grid-column: 2;
    grid-row: 8;
    margin: 0.469rem 0;
}

div.generalFields {
    display: grid;
    grid-template-columns: 8.75rem min-content;
    grid-template-rows: auto;
    justify-items: left;
    align-items: center;
}

.bottomBar {
   left: 0;
}

@media screen and (max-width: 65.625em) {
    form.studentContainer {
        grid-template-columns: 100%;
    }

    div.infoContainer {
        grid-column: 1;
    }
}