.mainContent {
    padding: 2.813rem 1.875rem 3.75rem 3.75rem; /*45px 30px 60px 60px*/
}

div.bar .addNew{
    font: var(--navText);
    text-decoration: none;
    padding: 0;
}

div.bar .addNew::before{
    content: url("/public/assets/icons/add.svg");
    vertical-align: middle;
    padding-right: 0.625rem; /*10px*/
}

div.bar {
    margin-top: 0.563rem; /*9px*/
    margin-bottom: 2.5rem; /*40px*/
    display: grid;
    grid-template-columns: fit-content(1fr) auto fit-content(1fr) fit-content(1fr);
    column-gap: 30px;
}

ul.studentList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: start;
    gap: 3.125rem 6.25rem; /*50px 100px*/
    /*max-height: 450px;*/

    list-style-type: none;
    overflow: auto;
    padding-right: 2.188rem; /*35px*/
}

li.studentListItem a {
    text-decoration: none;
    text-align: center;
}

li.studentListItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

#filter {
    grid-column: 3/4;
}

@media screen and (max-width: 1700px) {
    ul.studentList {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1450px) {
    ul.studentList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) {
    ul.studentList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}