.mainContent {
    position: relative;
    padding: 2.813rem 0 3.75rem; /*45px 0 60px*/
}

div.bottomBar a {
    text-decoration: none;
}

.button {
    max-width: 9.375rem; /*150px*/
}

ul.breadcrumb, h1 {
    padding-left: 60px;
}

p {
    font: var(--bodyText);
    text-align: left;
    display: inline-block;
    line-height: 2.5rem; /*40px*/
    grid-column: 2;
    grid-row: 2/span 2;
    justify-self: left;
}

h3 {
    color: var(--secondaryColor);
    grid-column: 1/span 2;
    grid-row: 1;
    margin-bottom: 0.938rem; /*15px*/
    justify-self: left;
    align-items: center;
}

.studentContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 1.875rem; /*30px*/
    overflow: auto;
    height: 65vh;
}

div.scroller {
    padding-left: 3.75rem; /*60px*/
    padding-right: 1.875rem; /*30px*/
}

div.card {
    margin: 0 0 1.25rem 0; /*20px*/
}

div.general {
    min-width: min-content;
    width: 40%;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: 3.125rem 9.375rem 9.375rem; /*50px 150px 150px*/
    column-gap: 1.875rem; /*30px*/
    row-gap: 0.938rem; /*15px*/
    justify-items: center;
    align-items: start;
    height: fit-content;
}

div.card {
    padding: 1.875rem; /*30px*/
}

img.roundProfilePic {
    grid-column: 1;
    grid-row: 2;
}

img.hands {
    grid-column: 1;
    grid-row: 3;
}

div.notes {
    padding: 0.938rem; /*15px*/
    border: 0.125rem solid var(--primaryColor); /*2px*/
    background-color: var(--beigeNeutral);
    border-radius: 1.25rem; /*20px*/
}

div.noteCard {
    width: 60%;
    margin-right: 1.875rem; /*30px*/
    height: fit-content;
}

div.noteCard p {
    line-height: 1.563rem; /*25px*/
}

@media screen and (max-height: 950px) {
    div.container {
        height: 65vh;
    }
}

@media screen and (max-height: 800px) {
    div.container {
        height: 55vh;
    }
}

@media screen and (max-width: 2000px) {
    div.general {
        width: 65%;
    }
}

@media screen and (max-width: 1400px) {
    div.roundProfilePic, img {
        display: none;
    }

    div.general {
        grid-template-columns: 0 1fr;
        column-gap: 0;
    }

    p {
        margin: auto;
    }
}