/* Padding and Border in an element's total width and height*/
* {
    box-sizing: border-box;
}
/* Messages depending on how many stars a child gets */
.message_after_ex {
    font: var(--heading1);
    text-align: center;
    color: var(--primary-darkest);
}

/*Star icons*/
.wrapper_for_stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.25rem;
    border: 0.0625rem solid black;
}
.checked_stars {
    color: var(--accent-light);
}
.unchecked_stars {
    color: var(--lightGray);

}
.big{
    font-size: 3.75rem;
}
.small{
    font-size: 1.25rem;
}

/*Progress bar*/
#myProgress {
    width: 100%;
    border-radius: 1.25rem;
    border: solid var(--secondaryColor);
}

#myBar {
    width: 30%;
    height: 1.25rem;
    background: var(--secondaryColor);
    border-radius: 1.25rem;
}

/*Exercise button*/
.exerciseButton{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 1.375rem 1.5rem 1.25rem;
    justify-content: center;


    width: 13.75rem;
    background-color: var(--beigeNeutral);
    border: 0.094rem solid var(--secondary-light);
    border-radius: 5rem;
    color: var(--blueNeutral-dark);
    line-height: 1.563rem;

    font: var(--heading3);
    cursor: pointer;
    transition-duration: 0.4s;
}
.exerciseButton:hover:enabled {
    box-shadow: 4px 4px 8px rgba(30, 41, 41, 0.5); /* --black = rgb(30,41,41)*/
}
.exerciseButton:active:enabled {
    box-shadow: 4px 4px 12px rgba(30, 41, 41, 0.7) inset;
}

.stars_on_exercise{
    position: absolute;
    z-index: 2; /* stars will be above exercise */
    bottom: -0.85rem;
    padding: 0.3125rem 0.625rem;

    width: 8.41rem;
    height: 1.875rem;

    background: var(--beigeNeutral);

    border: 0.0625rem solid var(--secondary-light);
    border-radius: 0.9375rem;
}
.container {
    position: relative;
}

