/* BUTTONS
 *
 * classes: .button, .buttonPrimary, .buttonSecondary, .buttonExpert, .buttonChild
 */
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.313rem; /* 5px */

    font: 600 1.125rem var(--opensans-font); /* Weight=Semi bold, size=18pt, family=Open Sans*/
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition-duration: 0.4s;
}

.buttonPrimary {
    border: none;
    color: var(--beigeNeutral-light);
    background-color: var(--primary-dark);
}

.buttonSecondary {
    color: var(--primary-dark);
    background-color: var(--beigeNeutral);
    border: 0.125rem solid var(--primary-dark);
}

.buttonExpert {
    padding: 0.625rem 1.5rem; /* 10px 24px */
    border-radius: 1.4063rem; /* 22.5px */
    width: 11.875rem; /* 190px */ /* Needed because of outline */
    height: 2.8125rem; /* 45px */
}

.buttonChild {
    padding: 0.875rem 1.625rem; /* 14px 26px */
    border-radius: 1.6563rem; /*26.5px */
    width: 12.125rem; /* 194px */
    height: 3.3125rem; /* 53px */
}

.button:hover:enabled {
    box-shadow: 4px 4px 8px rgba(30, 41, 41, 0.5); /* --black = rgb(30,41,41)*/
}

.buttonPrimary:hover:enabled {
    background-color: var(--primary-darkest);
}

.buttonSecondary:hover:enabled {
    color: var(--primary-darkest);
    border-color: var(--primary-darkest);
}

.button:active:enabled {
    box-shadow: 4px 4px 12px rgba(30, 41, 41, 0.7) inset;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* BREADCRUMB */
ul.breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    gap: 2px;
    width: fit-content;
    list-style: none;
    color: var(--primary-darkest);
}

ul.breadcrumb li {
    display: flex; /* Needed to align icon */
    align-items: center;
    padding: 0 0;
}

/* Add icon before each list item */
ul.breadcrumb li+li:before {
    padding: 0.313rem 0.625rem 0; /* 5px 10px */
    content: url(/public/assets/icons/angle-small-right.svg);
}

ul.breadcrumb li a {
    color: var(--primary-darkest);
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: var(--accentColor);
    text-decoration: underline;
}

/* BACKGROUND */
body {
    background: linear-gradient(107.95deg, var(--primary-dark) 2.42%, var(--primaryColor) 22.97%, var(--primaryColor) 45.27%, var(--secondaryColor) 64.72%, var(--secondaryColor) 82.77%, var(--accentColor) 101.29%) no-repeat fixed;
    height: 100%;
    margin: 0;
}

/* SCROLLBAR */ /* TODO: needs to be component::webkit-scrollbar, component is the beige background */
::-webkit-scrollbar {
    width: 0.625rem; /* 10px */
    background-color: var(--secondaryColor); /* TODO needs to be set to matching color as background */
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.188rem var(--mediumGray); /* 3px */
    border: 0.094rem solid var(--secondary-light); /* 1.5px */
    border-radius: 0.313rem; /* 5px */
    background-color: var(--beigeNeutral);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-light);
    border-radius: 0.313rem; /* 5px */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondaryColor);
}

/* BOTTOM BAR */
div.bottomBar {
    display: flex;
    justify-content: flex-end;;
    background-color: var(--secondary-lightest);
    border-radius: 0 0 1.563rem 1.563rem; /* 0 0 25px 25px */
    padding: 0.625rem 3.438rem; /* 10px 55px */
    position: sticky;
}

/* INPUT FIELD */
input {
    height: 2.5rem; /* 40px */
    padding: 0.563rem 1.125rem; /* 9px 18px */
    box-sizing: border-box;
    border: 0.125rem solid var(--blueNeutral-lightest); /* 2px */
    border-radius: 1.25rem; /* 20px */
    background-color: var(--beigeNeutral-light);
    color: var(--blueNeutral-dark);
    caret-color: var(--blueNeutral-dark);
}

input:focus {
    outline: none !important;
    border: 0.125rem solid var(--accentColor); /* 2px */
}

/* Change placeholder color */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--blueNeutral-light);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--blueNeutral-light);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--blueNeutral-light);
}

/* CARD */
div.card {
    background-color: var(--beigeNeutral-light);
    border-radius: 1.563rem; /* 25px */
    box-shadow: 0.5rem 0.5rem 1.25rem rgba(30, 41, 41, 0.2); /* 8px 8px 20px */
    padding: 1.25rem; /* 20px */
    margin: 0.625rem; /* 10px */
    width: fit-content;
}

/* WAVE BACKGROUND */
div.wave {
    background-image: url(/public/assets/general/wave.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}