/* BUTTONS
 *
 * classes: .button, .buttonPrimary, .buttonSecondary, .buttonExpert, .buttonChild
 */
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem; /* 16px */

    font: 600 1.125rem var(--opensans-font); /* Weight=Semi bold, size=18pt, family=Open Sans*/
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition-duration: 0.4s;
}

.buttonPrimary {
    border: none;
    color: var(--beigeNeutral-light);
    background-color: var(--primary-dark);
}

.buttonSecondary {
    color: var(--primary-dark);
    background-color: var(--beigeNeutral);
    border: 0.125rem solid var(--primary-dark);
}

.buttonExpert {
    padding: 0.625rem 1.5rem; /* 10px 24px */
    border-radius: 1.4063rem; /* 22.5px */
    width: 11.875rem; /* 190px */
    height: 2.8125rem; /* 45px */
}

.buttonChild {
    padding: 0.875rem 1.625rem; /* 14px 26px*/
    border-radius: 1.6563rem; /*26.5px */
    width: 12.125rem; /* 194px */
    height: 3.3125rem; /* 53 */
}

.button:hover:enabled {
    box-shadow: 4px 4px 8px rgba(30, 41, 41, 0.5); /* --black = rgb(30,41,41)*/
}

.buttonPrimary:hover:enabled {
    background-color: var(--primary-darkest);
}

.buttonSecondary:hover:enabled {
    color: var(--primary-darkest);
    border-color: var(--primary-darkest);
}

.button:active:enabled {
    box-shadow: 4px 4px 12px rgba(30, 41, 41, 0.7) inset;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* BREADCRUMB */
ul.breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    gap: 2px;
    width: fit-content;
    list-style: none;
    color: var(--primary-darkest);
}

ul.breadcrumb li {
    display: flex; /* Needed to align icon */
    align-items: center;
    padding: 0 0;
}

/* Add icon before each list item */
ul.breadcrumb li+li:before {
    padding: 0.313rem 0.625rem 0; /* 5px 10px */
    content: url(/icons/angle-small-right.svg);
}

ul.breadcrumb li a {
    color: var(--primary-darkest);
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: var(--accentColor);
    text-decoration: underline;
}