@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    /* Colors Styles */
    --primary-darkest: #0A6274;
    --primary-dark: #12908E;
    --primaryColor: #A6DCDE;
    --primary-light: #C1EAEC;
    --primary-lightest: #CCF6F8;

    --secondary-darkest: #DE1E00;
    --secondary-dark: #FC482C;
    --secondaryColor: #F37460;
    --secondary-light: #F4A684;
    --secondary-lightest: #FDB99C;

    --accentColor: #FAA330;
    --accent-light: #FFBD65;

    --blueNeutral-dark: #021F2E;
    --blueNeutral: #023047;
    --blueNeutral-light: #5F8090;
    --blueNeutral-lightest: #B8C7CE;
    --beigeNeutral-dark: #EADBD5;
    --beigeNeutral: #FFF7F3;
    --beigeNeutral-light: #FFFCFB;

    --black: #1E2929;
    --darkGray: #383F40;
    --mediumGray: #6C6E6F;
    --lightGray: #AFAFAF;
    --lightestGray: #D9DEDE;
    --white: #F4FAFA;

    /* Fonts */
    --opensans-font: "Open Sans", sans-serif;
    --andika-font: "Andika", sans-serif;
}

/*
 * TEXT STYLES
 *
 * Small text = .smallText
 * Body explanatory text = .bodyExText
 * Body text = .bodyText
 * Emphasis explanatory text = .emphasisExText
 * Emphasis = .emphasisText
 * Heading 3 = h4
 * Heading 2 = h3
 * Heading 1 = h2
 * Title = h1
 * Subtitle = .subTitle
 * Button label -> see on button css
 * Navigation text = .navText
 * Navigation emphasis text = .navEmphasisText
 */

.smallText, .bodyText, .emphasisText, .navText, .navEmphasisText {
    font-family: var(--opensans-font);
}

.bodyExText, .emphasisExText, h4, h3, h2, h1, .subTitle {
    font-family: var(--andika-font);
}

.smallText, .bodyExText, .bodyText, .subTitle {
    font-weight: 400; /* Regular */
}

.emphasisExText, .emphasisText, h4, h3, h2, h1, .navEmphasisText {
    font-weight: 700; /* Bold */
}

.navText {
    font-weight: 600; /* Semi bold */
}

.smallText {
    font-style: italic;
    font-size: 0.875rem; /* 14 pt */
}

.bodyExText, .bodyText, .emphasisExText, .emphasisText {
    font-size: 1rem; /* 16pt */
}

h4, .navText, .navEmphasisText {
    font-size: 1.25rem; /* 20pt */
}

h3 {
    font-size: 1.625rem; /* 26pt */
}

h2, .subTitle {
    font-size: 2.125rem; /* 34pt */
}

h1 {
    font-size: 3rem; /* 48pt */
}
.subTitle {
    text-transform: uppercase;
}