
/* Implementation Grid */
.grid-container_welcome {
    display: grid;
    /*grid-template-columns: 3fr 4fr 3fr;*/
    /*grid-template-rows: 2.5fr 5fr 2.5fr;*/
    /*width: 100vw;*/
    height: 100vh;
    place-items: center;
}

.centering {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1.875rem;
}

.card_welcome_page {
    background-color: var(--beigeNeutral);
    border-radius: 1.563rem; /* 25px */
    box-shadow: 0.5rem 0.5rem 1.25rem rgba(30, 41, 41, 0.2); /* 8px 8px 20px */

    /*grid-column: 2  / span 1;*/
    /*grid-row: 2/span 1;*/
    place-self: center;
    text-align: center;
    padding: 50px;
}

.teacher_student_buttons{
    display: flex;
    justify-content: center;
    margin-top:  30px;
    text-align: center;
    gap: 50px;
}
