/* SWITCH */
.switch{
    position: relative;
    display: inline-block;
    width: 3.438rem; /* 55px */
    height: 1.5rem; /* 24px */
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    border-radius: 0.75rem; /* 12px */
    box-shadow: inset 0 0.25rem 0.25rem rgba(30, 41, 41, 0.25); /* 4px 4px --black = rgb(30,41,41) */
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blueNeutral-lightest);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    border-radius: 50%;
    box-shadow: 0 0.25rem 0.25rem rgba(30, 41, 41, 0.25); /* 4px 4px*/
    position: absolute;
    content: "";
    height: 1.125rem; /* 18px */
    width: 1.125rem; /* 18px */
    left: 0.188rem; /* 3px */
    bottom: 0.188rem; /* 3px */
    background-color: var(--beigeNeutral);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-dark);
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.938rem); /* 31px */
    -ms-transform: translateX(1.938rem); /* 31px */
    transform: translateX(1.938rem); /* 31px */
}

/* STUDENT LIST ITEM */
li.studentListItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
}

li.studentListItem h4 {
    line-height: 0.7rem;
    color: var(--blueNeutral-dark);
    text-align: center;
    margin: 0.938rem 0.938rem 0;
}

/* PROGRESS STEPS (STEPPER) */
ol.stepper {
    display: flex;
    flex-wrap: wrap;
    font: var(--bodyExText);
    text-transform: uppercase;
    max-width: 31.25rem;
}

ol.stepper li {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    counter-increment: custom;
}

ol.stepper li:before {
    --size: 3.625rem;
    content: url(/public/assets/icons/check.svg);
    align-items: center;
    position: relative;
    z-index: 1;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    margin: 0.531rem auto 0;
    background-color: var(--primaryColor);

    padding: 0.938rem;
    box-sizing: border-box;
    font: var(--navEmphasisText);
}

ol.stepper li:not(:last-child):after {
    content: "";
    position: relative;
    top: 2.406rem;
    left: 50%;
    height: 0.313rem;
    background-color: var(--primaryColor);
    order: -1;
}

ol.stepper li p {
    color: var(--blueNeutral);
    margin: 0.125rem;
}

ol.stepper li:first-child{
    counter-reset: custom;
}

ol.stepper li.current:before {
    content: counter(custom) " ";
    background-color: var(--accentColor);
    font: var(--heading1);
    --size: 4.813rem;
    width: var(--size);
    height: var(--size);
    padding: 0.625rem;
    margin-top: 0;
    color: var(--beigeNeutral);
}

ol.stepper li.todo:before {
    content: counter(custom) " ";
    background-color: var(--blueNeutral-lightest);
}

ol.stepper li.current:not(:last-child):after {
    background-color: var(--blueNeutral-lightest);
}

/* EXERCISE FIELD */
h4.exerciseField {
    box-sizing: border-box;
    padding: 0.625rem 1.25rem;

    width: 13.75rem;
    background-color: var(--beigeNeutral);
    border: 0.094rem solid var(--secondary-light);
    border-radius: 1.563rem;
    color: var(--blueNeutral-dark);
    line-height: 1.563rem;
    margin: 0;
}

/* LESSON CARD */
div.lessonCard {
    display: flex;
    row-gap: 1.563rem;
    column-gap: 1.25rem;
    max-width: 63.875rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.25rem 2.5rem 2.188rem;
}

div.lessonCard h2 {
    width: 100%;
    text-align: center;
    color: var(--secondaryColor);
    margin: 0;
}