.menu_grid-container {
    display: grid;
    height: 95vh;
    width: 250px;
    font: var(--navText);
    color: var(--blueNeutral);

    justify-content: stretch;
    grid-template-areas:'.' 'header' 'subHeader''.''item''item''item''item''item''item''item' 'item'   '.''.' '.''.' 'footer''footer' '.';
}
.menu_grid-container p{
    font: var(--navText);
    color: var(--blueNeutral);
}

.menuHeader {
    grid-area: header;
    justify-self:center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 0.625rem;
}

.menuHeader img{
    height: 50px;
    width: 160px;
}

.menuSubHeader{
    grid-area: subHeader;
    padding-right: 25px;
    padding-left: 15px;

}

.menuItems {
    grid-area: item;
    display: flex;
    flex-direction: column;

}
.menuItems img {
    padding-left: 55px;
    margin-right: 15px;
}

.menuItems a {
    text-decoration: none;
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.menuFooter {
    grid-area: footer;
    display: flex;
    flex-direction: column;

}

.menuFooter img {
    padding-left: 55px;
    margin-right: 15px;
}
.menuFooter a {

    text-decoration: none;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.menu_grid-container a {
    font: var(--navText);
    color: var(--blueNeutral);
    text-decoration: none;
    text-align: start;
}


.menuItems a:hover  p{
    font: var(--navEmphasisText);
    color: var(--blueNeutral-dark);
}

.activeItem {
    color: var(--blueNeutral-dark);
    background-color: var(--beigeNeutral);
    border-radius: 65px 0 0 65px;
    z-index: 10;
}
.menu_grid-container a:hover {
    font: var(--navEmphasisText);
    color: var(--blueNeutral-dark);
}

.menu_grid-container .active  {
    font: var(--navEmphasisText);
    color: var(--blueNeutral-dark);
}

.menu_grid-container a:active {
    font: var(--navEmphasisText);
    color: var(--blueNeutral-dark);

}

@media only screen and (max-width: 1400px) {

    .menuSubHeader{
        padding-right: 0;
        padding-left:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;

    }
    #typewindLogo{

        height: 50px;
        width: 100px;

    }


    .menuItems  p {
       display: none;
    }

    .menuItems  a {
        justify-content: center;

    }
    .menuItems  img {
        padding-left: 0;
        margin-right: 0;
    }

    .menuFooter p {
        display: none;
    }
    .menuFooter  a {
        justify-content: center;
    }
    .menuFooter  img {
        padding-left: 0;
        margin-right: 0;
    }

    .menu_grid-container {
        width: 120px;
        justify-items: stretch;


    }


}


