.mainContent {
    padding: 2.813rem 1.875rem 1.875rem 3.75rem; /*45px 30px 30px 60px*/
}

div.currentPic {
    grid-row: 1;
    grid-column: 1;
    height: 11.25rem; /* 180px */
    width: 11.25rem; /* 180px */
    align-self: end;
}

div.currentPic img {
    height: 6.25rem; /* 100px */
    width: auto;
}

div.coins {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    grid-row: 2;
    grid-column: 1;
    align-self: start;
}

div.avatarContent {
    margin-left: 0.938rem;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: 1fr 1fr;
    gap: 3.75rem;
    height: 90%;
    padding-right: 1.875rem;
    padding-bottom: 1.875rem;
    overflow: auto;
}

div.avatarChoice {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    max-width: max-content;
    justify-items: center;
    align-items: center;
}

span.errorMessage {
    text-align: center;
}

:not(div.noMoney) > span.errorMessage {
    visibility: hidden;
}

div.avatarChoice:hover {
    cursor: pointer;
}

div.avatarChoice:hover > div.roundProfilePic {
    box-shadow: 4px 4px 8px rgba(30, 41, 41, 0.45); /* --black = rgb(30,41,41)*/
    transition-duration: 0.4s;
    height: 9.375rem; /* 150px */
    width: 9.375rem; /* 150px */
}

div.avatarChoice:hover > div.roundProfilePic > img {
    height: 5.625rem; /* 80px */
    width: auto;
    transition-duration: 0.4s;
}

div.avatarChoice:hover > span.coin {
    box-shadow: 4px 4px 8px rgba(30, 41, 41, 0.45); /* --black = rgb(30,41,41)*/
    transition-duration: 0.4s;
}

div.avatarChoice:active > div.roundProfilePic,  div.avatarChoice:active > span.coin {
    box-shadow: 4px 4px 12px rgba(30, 41, 41, 0.7) inset;
}

div.avatarChoice div.roundProfilePic {
    height: 8.438rem; /* 135px */
    width: 8.438rem; /* 135px */
}

div.locked div.roundProfilePic {
    background-color: var(--lightestGray);
}

div.avatarChoice div.roundProfilePic img {
    height: 4.375rem; /* 70px */
    width: auto;
}

div.avatarChoice span.coin:before {
    content: "";
    background: url("/public/assets/icons/coin.svg") no-repeat center;
    background-size: auto 1.25rem;
    padding-right: 1.375rem;
    padding-top: 0.313rem;
}

div.chosen div.roundProfilePic {
    border: 0.25rem solid var(--accentColor); /* 4px */
}

div.chosen span.coin {
    background-color: var(--accentColor);
    padding: 0.625rem 3.438rem;
}

div.locked:hover > span.coin {
    background-color: var(--accent-light);
}

div.locked:hover > div.roundProfilePic {
    border: 0.125rem solid var(--accentColor); /* 2px */
}

div.bought span.coin {
    background-color: var(--primary-dark);
    padding: 0.625rem 3.438rem;
    height: fit-content;
}

div.chosen span.coin:before, div.bought span.coin:before {
    background-image: url("/public/assets/icons/check.svg");
    background-size: 1.375rem auto;
}

div.undo div.roundProfilePic {
    background-color: var(--beigeNeutral-light);
}

div.undo span.coin:before {
    background-image: none;
    padding: 0;
}

div.undo span.coin {
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--secondary-light);
    max-width: 8.125rem;
    height: fit-content;
    padding: 0.625rem 0;
    line-height: 1.125rem;
}

div.avatarCard {
    grid-column: 2;
    grid-row: 1/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    row-gap: 3.125rem;
    column-gap: 0.313rem;
    min-height: 34.375rem;
}

.errorMessage {
    font: var(--emphasisText);
}

@media screen and (max-width: 1800px) {
    div.avatarChoice div.roundProfilePic {
        height: 7.5rem; /* 120px */
        width: 7.5rem; /* 120px */
    }

    div.avatarChoice div.roundProfilePic img {
        height: 4.063rem; /* 65px */
        width: auto;
    }

    div.avatarChoice span.coin {
        padding: 0.313rem 1.875rem;
        height: fit-content;
    }

    div.undo span.coin {
        max-width: 8.125rem;
        padding: 0.5rem 0.938rem;
    }

    div.chosen span.coin, div.bought span.coin {
        padding: 0.313rem 2.813rem;
    }

    div.avatarChoice:hover > div.roundProfilePic {
        height: 8.75rem; /* 140px */
        width: 8.75rem; /* 140px */
    }

    div.avatarChoice:hover > div.roundProfilePic > img {
        height: 5rem; /* 80px */
        width: auto;
    }
}