[data-component*="dialog"] * {
    box-sizing: border-box;
    outline-style: none;
}

:where([data-component*="dialog"]) {
    --dlg-gap: 1em;
    border: var(--dlg-b, 0);
    font-family:var(--dlg-ff, ui-sansserif, system-ui, sans-serif);
    min-inline-size: var(--dlg-mis, auto);
    margin: auto;
    width: fit-content;
    background-color: var(--beigeNeutral);
    border-radius: 1.563rem; /* 25px */
    box-shadow: 0.5rem 0.5rem 1.25rem rgba(30, 41, 41, 0.2); /* 8px 8px 20px */
    padding: 1.25rem; /* 20px */
}
:where([data-component="no-dialog"]:not([hidden])) {
    display: block;
    inset-block-start: var(--dlg-gap);
    inset-inline-start: 50%;
    position: fixed;
    transform: translateX(-50%);
}
:where([data-component*="dialog"] menu) {
    display: flex;
    gap: calc(var(--dlg-gap) / 2);
    justify-content: var(--dlg-menu-jc, center);
    margin: 0;
    padding: 0;
}
:where([data-component*="dialog"] menu button) {
    background-color: var(--dlg-button-bgc);
    border: 0;
    border-radius: var(--dlg-bdrs, 0.25em);
    color: var(--dlg-button-c);
    font-size: var(--dlg-button-fz, 0.8em);
    padding: var(--dlg-button-p, 0.65em 1.5em);
}
:where([data-component*="dialog"] [data-ref="accept"]) {
    --dlg-button-bgc: var(--dlg-accept-bgc, hsl(218, 79.19%, 46.08%));
    --dlg-button-c: var(--dlg-accept-c, #fff);
}
:where([data-component*="dialog"] [data-ref="cancel"]) {
    --dlg-button-bgc: var(--dlg-cancel-bgc, transparent);
    --dlg-button-c: var(--dlg-cancel-c, inherit);
}
:where([data-component*="dialog"] [data-ref="fieldset"]) {
    border: 0;
}
:where([data-component*="dialog"] [data-ref="message"]) {
    font-size: var(--dlg-message-fz, 1.25em);
    margin-block-end: 0.938rem;
    text-align: center;
    font: var(--heading2);
    color: var(--secondaryColor);
    padding-left: 0.938rem;
    padding-right: 0.938rem;
}
:where([data-component*="dialog"] [data-ref="template"]:not(:empty)) {
    margin-block-end: 2.5rem;
    display: flex;
    justify-content: center;
}


/* hack for Firefox */
@-moz-document url-prefix() {
    [data-component="no-dialog"]:not([hidden]) {
        inset-inline-start: 0;
        transform: none;
    }
}

/* added to `body` when browser do not support `<dialog>` */
.dialog-open {
    background-color: rgba(0, 0, 0, .1);
    overflow: hidden;
}





